
:root {
  --pink: rgb(206, 5, 197);
  --white: #E5E5E5;
  --green: #0f0;
}

body {
  background-image: url('./assets/img.png');
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 550px;
}

h1{
  width: 470px;
  margin: auto;
  background: var(--pink);
  color: var(--white);
  border-radius: 50px;
}

.container{
  margin-top: 10px;
}

.square{    
  background: var(--pink);
  text-align: center;
  width: 60px;
  display: inline-block;
  padding: 45px;
  font-size: 50px;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
  color: var(--white);
}

.player, .winner {
  font-size: 30px;
  width: 470px;
  margin: auto;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  background-color: var(--pink);
  border-radius: 50px;
}

button {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  color: var(--pink);
  background: var(--white);
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 512px) {
  body{
    margin-top: 50px;
  }
}

@media (max-width: 512px) {
  h1{
    width: 200px;
    margin: auto;
    border-radius: 10px;
  }
}

@media (max-width: 512px) {
  .player, .winner {
    font-size: 30px;
    width: 170px;
    margin: auto;
    margin-top: 5px;
  }
}

@media (max-width: 512px) {
  .square{    
    background: var(--pink);
    text-align: center;
    display: inline-block;
    padding: 25px;
    font-size: 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--white);
  }
}